<!DOCTYPE html>
<html>
  <head>
    <title>Classroom Queries Debug</title>
    <%= csrf_meta_tags %>

    <!-- Expand the number of characters we can use in the document beyond basic ASCII 🎉 -->
    <meta charset="utf-8">

    <!-- Make it responsive to small screens -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
  </head>

  <body>
    <body>
    <table style="width: 100%; margin-bottom: 3em;" border="1">
      <tr>
        <td>
          <strong>Classroom</strong>
        </td>

        <td>
          <a href="/courses">
            Courses
          </a>
        </td>
        
        <td>
          <a href="/departments">
            Departments
          </a>
        </td>

        <td>
          <a href="/students">
            Students
          </a>
        </td>
      </tr>
    </table>
    <%= yield %>
  </body>
</html>
